#PUBLIC
192.168.2.53   ora12node1.foad.local ora12node1
192.168.2.54   ora12node2.foad.local ora12node2

#VIP
192.168.2.55   ora12node1-vip.foad.local ora12node1-vip
192.168.2.56   ora12node2-vip.foad.local ora12node2-vip

#PRIV
172.16.213.53  ora12node1-priv.foad.local ora12node1-priv
172.16.213.54  ora12node2-priv.foad.local ora12node2-priv
#SCAN
192.168.2.57   ora12c-scan.foad.local ora12-scan
192.168.2.58   ora12c-scan.foad.local ora12-scan
192.168.2.59   ora12c-scan.foad.local ora12-scan

127.0.0.1   localhost
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6
