#PUBLIC
192.168.2.50   ora12node1.foad.local
192.168.2.51   ora12node2.foad.local

#VIP
192.168.2.55   ora12node1-vip.foad.local
192.168.2.56   ora12node2-vip.foad.local
#PRIV
172.16.213.53  ora12node1-priv.foad.local
172.16.213.54  ora12node2-priv.foad.local
#SCAN
192.168.2.47   ora12c-scan.foad.local
192.168.2.48   ora12c-scan.foad.local
192.168.2.49   ora12c-scan.foad.local

127.0.0.1   localhost
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6
